@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins,sans-serif';
}

html{
    font-size: 62.5%; 
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("/Users/mitalisadhav/Downloads/wallpaperrr.jpeg");
    color: white;
}

p{
    font-size: 20px;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-shadow: 2px 2px 2px #bb84ce;
    border: 0.2 solid white;
    border-radius: 0.5rem;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: blueviolet;
    border-bottom: 2.5px solid #d89acf ;
    transition: 0.5s ease;
    text-shadow: 0 0 25px white;
}

@media(max-width:995px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid hsl(0, 0%, 100%);
        border-bottom: 3px solid white;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #DDC4EB;
        border-top: 0.1rem solid white;
}
nav.active{
    display: block;
}

nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}

nav a:hover,
nav a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid white;
}
}

section{
    min-height: 1rem;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-image: url("/Users/mitalisadhav/Downloads/wallpaperrr.jpeg");
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.span{
    color: blueviolet;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid white;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-image: url("/Users/mitalisadhav/Downloads/wallpaperrr.jpeg");
}

.education-img{
    border-radius: 50%;
}

.education-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid white;
    cursor: pointer;
    transition: 0.2s linear;
}

.education-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-image: url("/Users/mitalisadhav/Downloads/wallpaperrr.jpeg");
}

.aboutme-img{
    border-radius: 50%;
}

.aboutme-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid white;
    cursor: pointer;
    transition: 0.2s linear;
}

.aboutme-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-image: url("/Users/mitalisadhav/Downloads/wallpaperrr.jpeg");
}

.contact-img{
    border-radius: 50%;
}

.contact-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid white;
    cursor: pointer;
    transition: 0.2s linear;
}

.contact-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2 solid #bb84ce;
    font-size: 30px;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #DDC4EB;
    box-shadow: 0 0 25px white;
    
}

.typing-text {
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    display: inline-block;
    position: relative;
}

.animated-text::after {
    content: "Engineer-in-making";
    display: inline-block;
    letter-spacing: 2px;
    font-family: monospace;
    border-right: 5px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s, words 10s infinite, cursor .4s step-end infinite alternate;
    text-align: center;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes cursor {
    to {
        border-right: 3px solid transparent;
    }
}

@keyframes blink {
    50% { border-color: transparent; }
}

/* Animation for changing words */
@keyframes words {
    0%, 20% { content: "Engineer-in-making"; }
    21%, 40% { content: "Bookworm"; }
    41%, 60% { content: "Artist"; }
    61%, 80% { content: "Nap Enthusiast"; }
    81%, 100% { content: "Part-time basketball player"; }
}

@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

.text {
    padding-right: 5px;
}
